body {
    background-image: url(/img/bg.jpg);
}
.conteiner {
    margin: 0 auto 0 auto;
}
.header {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}
.header span {
    font-weight: normal;
    font-size: 14px;
    text-decoration: underline;    
}
#hr-botton-header {
    margin: 0;
    border: 1px solid rgb(26, 151, 186);
}
.about h5 {
    margin: 0 0 20px 20px;
}
.about {
    width: 900px;
    height: 350px;
    border: 1px solid black;
    margin: 50px auto 30px auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
}
.module p {
    text-align: center;
}
.module ul {
    width: 200px;
    margin: 0 auto 30px auto;
}
footer {
    background-color:  grey;
    height: 100px;
    text-align: center;
    font-weight: bold;
    padding: 40px 0 0 0;
}
.reg-header {
    text-align: center;
    margin:  90px 40px 40px 40px;
}
.reg-header h5 {
    color: red;
}
.form-group {
    width: 500px;
    margin: 0 auto 0 auto;
}
.reg-btn {
    padding: 7px;
    width: 200px;
    margin: 20px auto 150px auto;
}
.reg-btn-align {
    text-align: center;
}
#admin-btn {
    width: 200px;
    margin: 20px auto 20px auto;
}
#admin-btn-width {
    width: 200px;
    padding: 7px;
}
#this-adminka {
    text-align: center;
    margin: 255px;
}
.game-user-area {
    margin: 20px;
    width: 400px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
.game-user-area p {
    color: red;
}
.game-pc-area {
    margin: 20px;
    width: 400px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
.game-pc-area p {
    color: red;
}
.game-kick-panel {
    margin: 20px;
    width: 400px;
    display: inline-block;
    vertical-align: middle;
}
.game-kick-panel h4 {
    margin-left: 15px;
}
.game-main {
    margin: 205px auto 205px auto;
    width: 1350px;
}
.game-input {
    margin: 5px 0 5px 160px;
}
#game-kick-button {
    margin: 10px 0 10px 135px;
}
.game-input-barrier {
    margin: 0 5px 0 0;
}
.kickMessage {
    text-align: center;
    width: 100%;
    color:  red;
    margin: 30px 0 0 0;
}
.endGame {
    text-align: center;
    margin: 285px auto 285px auto;
}
.endGame a {
    text-decoration: none;
}
.regOK {
    text-align: center;
    margin: 285px auto 285px auto;
    color: rgb(15, 123, 135);
}
.form-group {
    width: 600px;
}
.com-add-button {
    margin: 10px 5px 5px 0;
    padding: 5px;
}
.ALLcomments {
    width: 600px;
    margin: 20px auto 20px auto;
}
.com-data {
    font-size: 12px;
    color: grey;
    margin-left: 10px;
}
.ALLcomments .media {
    background-color: white;
    padding:  10px;
    margin: 30px auto 20px auto;
    border-top: 1px solid rgb(29, 113, 198);
}
.form-into {
    margin: 170px auto 100px auto;
}
.inputErrors {
    text-align: center;
    margin: 290px auto 290px auto;
}
.inputIsset {
    text-align: center;
    margin: 290px auto 290px auto;
}
.margin-left {
    margin-left: auto;
}
.nav {
    display: flex;
    justify-content: space-between;
}
.first-nav {
    width: 10rem;
}
.main-nav {
    display: flex;
}
.cab-nav {
    display: flex;
}
.dropdown-menu {
    left: -100%;
}
#dropdownMenuButton {
    margin: 2px;
    background-color: rgb(26, 151, 186);
    border-color: white;
}
.com-delete {
    font-size: 12px;
    color: grey;
    margin-left: 10px;
    text-decoration: none;
}
.com-delete:hover {
    color: red;
    text-decoration: none;
}